numpy
setuptools
termcolor
absl-py
dotenv
pandas
requests

python-dateutil
reactivex
retry

typing-extensions
jinja2

# Concordia Assistant dependencies
PyYAML
chromadb


# Documentation generation
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
myst-parser