langchain
langgraph
langchain-community
langchain-chroma

PyGithub

numpy
setuptools
termcolor
absl-py
dotenv
pandas
Pyarrow
requests

pytest
pytest-cov

python-dateutil
reactivex
retry
IPython
typing-extensions
jinja2
hf_xet
huggingface_hub==0.16.4

fastapi
uvicorn
python-multipart

PyYAML
chromadb

sentence-transformers
torch
torchvision
torchaudio 
--extra-index-url https://download.pytorch.org/whl/cu128

# Documentation
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
myst-parser